<style>
    #game {
        width: 600px;
    }
    td {
        height: 70px;
        width: 70px;
    }
    button {
        padding: 5px 20px;
    }
    td {
        border: 2px solid gray;
    }
    table {
        box-shadow: 15px 15px 15px 0px rgba(50, 50, 50, 0.3);
    }
    .available {
        cursor: pointer;
    }
    .selected {
        cursor: none;
        cursor: not-allowed !important;
    }
    .pink {
        background-color: #d96666;
    }
    .yellow {
        background-color: #ffeb79;
    }
</style>
<template>
    <div id="game" class="container">
        <navigation-component> </navigation-component>
        <h3 class="text-center"> <span class="font-weight-bold"> {{current_player_name}} </span> on move </h3>
        <table class="table">
            <tr v-for="row in Number(game_data.game_height)" :key="row">
                <td v-for="column in Number(game_data.game_width)" :key="column"
                    class="available"
                    @click="filedSelected($event, row-1, column-1)"
                > 
                </td>
            </tr>
        </table>
        <div class="col-12 text-center">
                <a v-if="!game_completed" 
                    class="btn btn-primary btn-danger btn-lg" 
                    href="/new_game"
                >
                    Restart game
                </a>
                <a v-if="game_completed" 
                    class="btn btn-primary btn-warning btn-lg" 
                    href="/new_game"
                >
                    Start new game
                </a>
            </div>
        <div class="row text-center">
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {    
                game_data: [],
                current_player_name: null,
                current_player_email: null,
                player_colors: [],
                fields: [],
                game_completed: null,
                player_one_points: 0,
                player_two_points: 0
            }
        },
        methods: {
            filedSelected(event, row, column) {
                if(event.target.getAttribute('disabled') || this.game_completed) {
                    event.stopPropagation();
                } else {
                    event.target.classList.toggle('available')
                    event.target.classList.toggle('selected');
                    event.target.classList.toggle(this.player_colors[this.current_player_name]);
                    event.target.setAttribute("disabled", "disabled"); 
                    this.fields[row][column] = this.current_player_name;
                    if(!this.checkForVictory(row, column)) {
                        if(this.current_player_name === this.game_data.player_one_name) {
                            this.current_player_name = this.game_data.player_two_name;
                            this.current_player_email = this.game_data.player_two_email;
                        } else {    
                            this.current_player_name = this.game_data.player_one_name;
                            this.current_player_email = this.game_data.player_one_email;

                        }
                    } else {
                        this.playerWin(this.current_player_name, this.current_player_email)
                    }
                    if(this.checkForDraw()) {
                        this.matchIsDraw()
                    }
                    
                }          
            },
            checkForVictory(row, column) {
                if(
                    this.checkIfExistFourInRow(row) ||
                    this.checkIfExistFourInColumn(column) ||
                    this.checkIfExistFourInXDiagonal(row, column) || 
                    this.checkIfExistFourInYDiagonal(row, column)) {
                        return true;
                } 
                return false;
            },
            checkForDraw() {
                for(let i = 0; i < this.game_data.game_height; i ++) {
                    for(let j = 0; j < this.game_data.game_height; j ++) {
                        if(this.fields[i][j] == null) {
                            return false;
                        }
                    }
                }
                return true;
            },
            checkIfExistFourInRow(row) {
                let count = 0;
                for(var i = 0; i < this.game_data.game_width; i ++) {
                    if(count > 3) {
                        return true;
                    }
                    if(this.fields[row][i] == this.current_player_name) {
                        count ++;
                    } else {
                        count = 0;
                    }
                }
                return false;
            },
            checkIfExistFourInColumn(column) {
                let count = 0;
                for(var i = 0; i < this.game_data.game_height; i ++) {
                    if(count > 3) {
                        return true;
                    }
                    if(this.fields[i][column] == this.current_player_name) {
                        count ++;
                    } else {
                        count = 0;
                    }
                }
                return false;
            },
            checkIfExistFourInXDiagonal(row, column) {
                let count = 0;
               
                while(column > 0 && row > 0) {
                    column --;
                    row --;
                }
                while(row < this.game_data.game_width  && column < this.game_data.game_height ) {
                    if(count > 3) {
                        return true;
                    }
                    if(this.fields[row][column] == this.current_player_name) {
                        count ++;
                    } else {
                        count = 0;
                    }
                    row ++;
                    column ++;
                    
                }
                return false;
            },
            checkIfExistFourInYDiagonal(row, column) {
                let count = 0;
                while(column > 1 && row < this.game_data.game_height - 1) {
                    column --;
                    row ++;
                    
                }

                while(row >= 0 && column < this.game_data.game_width) {
                    if(count > 3) {
                        return true;
                    }
                    if(this.fields[row][column] == this.current_player_name) {
                        count ++;
                    } else {
                        count = 0;
                    }
                    row --;
                    column ++;
                }
                return false;
            },
            playerWin(player_name, player_email) {
                if(player_email == this.player_one_email) {
                    this.player_one_points = 3;
                } else {
                    this.player_two_points = 3;
                }
                this.saveResults();
                alert("Player " + player_name + " win!");
            },
            matchIsDraw(player_name, player_email) {
                this.player_one_points = 1;
                this.player_two_points = 1;
                this.saveResults();
                alert("Match is draw!");
            },
            saveResults() {
                let self = this;
                axios.post(
                    '/api/savegameresults',
                    {
                        id: this.game_id,
                        player_one_email: this.game_data.player_one_email,
                        player_one_points: this.player_one_points,
                        player_two_email: this.game_data.player_two_email,
                        player_two_points: this.player_two_points
                    }
                )
                    .then(result => {
                        self.$toaster.success('Results successfuly saved!');
                    })
                    .catch(error => {
                        self.$toaster.error('Error during saving game results!');
                    })
                    .finally( function() {
                        self.game_completed = true;
                       
                    })
            }

        },
        created() {
            if(!this.$route.params.game_data) {
                this.$router.push({name: 'Home'});
            } else {
                this.game_data = this.$route.params.game_data;
                this.game_id = this.game_data.id;
                this.current_player_name = this.game_data.player_one_name;
                this.current_player_email = this.game_data.player_one_email;
                this.player_colors[this.game_data.player_one_name] = 'pink';
                this.player_colors[this.game_data.player_two_name] = 'yellow';
                for(let i = 0; i < this.game_data.game_height; i ++) {
                    this.fields[i] = Array();
                    for(let j = 0; j < this.game_data.game_height; j ++) {
                        this.fields[i].push(null);
                    }
                }
            }
        }
    }
</script>


