<template>
    <div class="container">
        <navigation-component> </navigation-component>
        <component
            :is="dinamicComponentName"
        >
        </component>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                dinamicComponentName: 'startgame-component',
            }
        }
    }
</script>

