<template>
    <div class="container">
        <navigation-component> </navigation-component>
        Player Name: <p> {{ player_data.name }} </p>
        Player Email: <p> {{ player_data.email }} </p>
        <table class="table">
           <thead>
                <tr>
                <th scope="col">Points</th>
                <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
               
                <tr v-for="game in player_data.games">
                    <th> {{ game.points }} </th>
                    <th> {{ game.date }} </th>
                </tr>
            </tbody>  
        </table> 
    </div>
</template>


<script>
    export default {
        data() {
            return {
                player_data: [],
            }
        },
        methods: {
            getPlayerData(player_id) {
                let self = this;
                let url = '/api/playerdata?player_id=' + player_id; 
               
                axios.get(url)
                    .then(result => {
                        self.player_data = result.data.data
                    })
                    .catch(error => {
                        console.log(error);
                    })
            }
        },
        created() {
            this.getPlayerData(this.$route.query.player_id);
        }
    }
</script>

