<template>
    <div class="container">
        <navigation-component> </navigation-component>
        Date from: <input type="date" name="date_from" v-model="date_from" v-on:change="changeDate">
        Date to: <input type="date" name="date_to" v-model="date_to" v-on:change="changeDate" >
        <table class="table">
           <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Games</th>
                <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
               
                <tr v-for="element in rank_list_elements" :key="element.email">
                    <th> <a v-bind:href="'/player?player_id=' + element.player_id">{{ element.name }} </a></th>
                    <th> {{ element.email }} </th>
                    <th> {{ element.games }} </th>
                    <th> {{ element.points }} </th>
                </tr>
            </tbody>  
        </table>
    </div>
</template>

<style lang="css" scoped>
    @import "./../../css/ranking.css";
</style>


<script>
    export default {
        data() {
            return {
                rank_list_elements: [],
                date_from: null,
                date_to: null,
            }
        },
        methods: {
            getRankList(from, to) {
                let self = this;
                let url = '/api/rankings';
                if(from) {
                    url += '?from=' + from;
                }
                if(from && to) {
                    url += '&'
                }
                if(to) {
                    url += 'to=' + to
                }
                axios.get(url)
                    .then(result => {
                        self.rank_list_elements = result.data.data
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            changeDate() {
                this.getRankList(this.date_from, this.date_to);
            }

        },
        created() {
            this.getRankList(null, null);
        }
    }
</script>

