<template>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn btn-primary waves-effect waves-light btn-lg" href="/new_game">
                    NEW GAME
                </a>
            </div>
        </div>
    </div>
</template>
