<template>
    <div class="container">
        <navigation-component> </navigation-component>
        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                    <p>First User</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>Seccond User</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                    <p>Table Size</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                    <p>Start Game</p>
                </div>
            </div>
        </div>
        <form role="form" v-on:submit.prevent="startGame">
            <div class="row setup-content" id="step-1">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        <h3> Step 1</h3>
                        <div class="form-group">
                            <label class="control-label">Player one name</label>
                            <input  
                                maxlength="100"
                                type="text" 
                                required="required" 
                                class="form-control" 
                                v-model="game_data.player_one_name"
                                placeholder="Enter first player name"  
                            />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Player one email</label>
                            <input 
                                maxlength="100" 
                                type="email"
                                pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
                                required="required" 
                                class="form-control" 
                                v-model="game_data.player_one_email"
                                placeholder="Enter first player email" 
                                @keyup="checkUserEmails"
                            />
                        </div>
                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-2">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        <h3> Step 2</h3>
                        <div class="form-group">
                            <label class="control-label">Player two name</label>
                            <input  
                                maxlength="100"
                                type="text" 
                                required="required" 
                                class="form-control" 
                                v-model="game_data.player_two_name"
                                placeholder="Enter seconds player name"  
                            />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Player two email</label>
                            <input 
                                maxlength="100" 
                                type="email"
                                pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
                                required="required" 
                                class="form-control" 
                                v-model="game_data.player_two_email"
                                placeholder="Enter first player email" 
                                @keyup="checkUserEmails"
                            />
                        </div>
                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-3">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        <h3> Step 3</h3>
                        <div class="form-group">
                            <label class="control-label">Game heigth</label>
                            <input 
                                min=4
                                max=15
                                type="number" 
                                required="required" 
                                class="form-control" 
                                v-model="game_data.game_height"
                                placeholder="Game height" 
                            />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Game width</label>
                            <input 
                                min=4
                                max=15
                                type="number" 
                                required="required" 
                                class="form-control" 
                                v-model="game_data.game_width"                          
                                placeholder="Game width" 
                            />
                        </div>
                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-4">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        <button 
                            class="btn btn-success btn-lg col-12 text-center" 
                            type="submit"
                            :disabled="emails_error"
                        >
                            Finish!
                        </button>
                        <p v-if="emails_error" class="text-danger"> The player one email and player two email must be different</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<style lang="css" scoped>
    @import "./../../css/start_game.css";
</style>


<script>
    export default {
        data() {
            return {
                game_data: {
                   player_one_name: "Ivan",
                   player_one_email: "ivan.djukic@ecd.rs",
                   player_two_name: "Ivan Djukic",
                   player_two_email: "ivan.djukic2@ecd.rs",
                   game_width: 8,
                   game_height: 10
                },
                emails_error: false
            }
        },
        methods: {
            startGame() {
                let self = this;
                axios.post(
                    '/api/newgame',
                    {
                        player_one_name: this.game_data.player_one_name,
                        player_one_email: this.game_data.player_one_email,
                        player_two_name: this.game_data.player_two_name,
                        player_two_email: this.game_data.player_two_email,
                        game_width: this.game_data.game_width,
                        game_height: this.game_data.game_height
                    },
                )   
                    .then(result => {
                        this.game_data.id = result.data.data.id;
                        self.createGame();
                    })
                    .catch(error => {
                        this.$toaster.error('Error during starting game. Please try latter');
                    })
                    .finally( function() {
                       
                    })
            },
            checkUserEmails() {
                if(this.game_data.player_one_email === this.game_data.player_two_email) {
                    this.emails_error = true;
                } else {
                    this.emails_error = false;
                }
            },
            createGame() {
                this.$router.push(
                    { 
                        name: 'Game', 
                        params: { game_data: this.game_data }
                    }
                )
            }
        }
    }
</script>

